Header add Access-Control-Allow-Origin *
DirectoryIndex dispatch.fcgi
RewriteEngine on
RewriteCond %{REQUEST_URI} !dispatch.fcgi$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) dispatch.fcgi?action=$1&%{QUERY_STRING}
RewriteRule ^.git - [F,L]

