Header add Access-Control-Allow-Origin *
DirectoryIndex dispatch.fcgi
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) dispatch.fcgi/$1 [L,QSA]
RewriteRule ^.git - [F,L]

