include dispatch.fcgi silpa.sh
recursive-include src *.ttf *.dic *.js *.css *.html *.map *.conf
recursive-include js *.js
recursive-include css *.css
recursive-include doc *.html 
exclude MANIFEST.in buildout.cfg .gitignore
