<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
Copyright 2009-2010
Santhosh Thottingal <santhosh.thottingal@gmail.com>
This code is part of Silpa project.
This program is free software; you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Silpa- The Indian Language Computing project-Beta</title>
<link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="css/ie6_or_less.css" />
<![endif]-->
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/ajax.js"></script>
</head>
<body id="type-b">
<div id="wrap">
    <div id="header">
        <div id="site-name">Silpa</div>
        <ul id="nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li class="active"><a href="doc.html">Documentation</a>
        <ul>
        <li><a href="install.html">Installing</a></li>
        <li><a href="contribute.html">Contribute</a></li>
        <li><a href="faq.html">FAQ</a></li>
        </ul>
        </li>
        <li class="active"><a href="">Development</a>
        <ul>
        <li><a href="apis.html">API</a></li>
        <li><a href="http://lists.nongnu.org/mailman/listinfo/silpa-discuss">Mailing List</a></li>
        <li><a href="https://savannah.nongnu.org/bugs/?group=silpa">Bug Tracker</a></li>
        <li><a href="https://savannah.nongnu.org/tasks/?group=silpa">Tasks</a></li>
        <li><a href="source.html">Source</a></li>
        </ul>
        </li>
        <li class="active"><a href="credits.html">Credits</a>
        <li class="active"><a href="license.html">License</a>
        </ul>
    </div>
    
    <div id="content-wrap">
        <div id="utility">
            <h2>Applications</h2>
            <ul id="nav-secondary">
            <li><a href="Guess_Language">Guess Language</a></li>
            <li><a href="ASCII2Unicode">Encoding Converter</a></li>
            <!-- <li><a href="Stem">Stemmer</a></li> 
            <li><a href="Anagram">Anagram</a></li>
            <li><a href="Normalize">Normalizer</a></li>-->
            <li><a href="ApproxSearch">Approximate Search</a></li>
            <li><a href="Sort">Sort</a></li> 
            <li><a href="Spellcheck">Spellcheck</a></li>
            <li><a href="Dictionary">Dictionary</a></li>
            <li><a href="Transliterate" >Transliterate</a></li>
            <li><a href="Hyphenate" >Hyphenation</a></li>
            <li><a href="Syllabalize" >Syllabalize</a></li>
            <li><a href="NGram" >N-Gram</a></li>
            <li><a href="Fortune" >Random Quote</a></li>
            <li><a href="Soundex">Indic Soundex</a></li>
            <li><a href="CharDetails">Character Details</a></li>
            <!--<li><a href="Calendar">Calendars</a></li>-->
            <li><a href="AllModules">Show All</a></li>
            </ul>
        </div>
        <div id="content">
            <div id="breadcrumb">
            </div>
            <div id="moduleloadprogress">
            </div>
            <hr/>
            <div id="form"></div>
            <hr/>
            <div id="progress"></div>
            <div id="successmessage"></div>
            <div id="errormessage"></div>
            <div id="result"></div>
            <div id="footer">
                <p>All rights reserved. &copy; 2008-2009, Silpa Team</p>
                <p>Silpa service brought to you by <a href="http://smc.org.in">Swathanthra 
                Malayalam Computing</a>.
                It runs the Silpa python application hosting software, available under the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU Affero General Public License.</a>
                </p>
                <p><a href="contact.html">Contact Us</a>
                | <a href="privacy.html" >Privacy</a>|
                <a href="https://savannah.nongnu.org/task/?group=silpa">Tasks</a> |
                <a href="http://lists.nongnu.org/mailman/listinfo/silpa-discuss">Mailing List</a> |
                <a href="links.html">Links</a> |
                <a href="source.html">Source Code</a></p>
            </div>
        </div>
        <div id="poweredby"><a href="http://smc.org.in"><img src="http://smc.org.in/logo.png" width="75%" height="75%" alt="SMC Logo"></a></div>
    </div>
</div>
</body>
</html>
