* {
margin:0;
padding:0;
}

body {
background:#fff;
color:#333;
font:83%/1.5 arial,tahoma,verdana,sans-serif;
padding:0 0 20px;
}

a,a:link,a:link,a:link,a:hover {
background:transparent;
text-decoration:underline;
cursor:pointer;
}

a:link {
color:#36F;
}

a:hover,a:active {
color:#069;
}

input {
font-family:arial,tahoma,verdana,sans-serif;
border:1px solid;
-moz-border-radius:5px;
border-radius:5px;
line-height:1;
margin:2px 0;
padding:5px;
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-color:rgba(82, 168, 236, 0.75) !important;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;

}

input[type=submit]   {
background:#222;
background-color:#36F;
display:inline-block;
color:#fff;
text-decoration:none;
font-weight:700;
line-height:1;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
border-bottom:1px solid rgba(0,0,0,0.25);
position:relative;
cursor:pointer;
padding:5px;
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-color:rgba(82, 168, 236, 0.75) !important;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
}

input[type=checkbox]   {
margin-right:10px;
margin-bottom:15px;
}



select {
border:1px solid;
border-color:rgba(82, 168, 236, 0.75) !important;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}

textarea {
font-family:arial,tahoma,verdana,sans-serif;
width:100%;
height:300px;
border:1px solid;
-moz-border-radius:5px;
border-radius:5px;
border-color:rgba(82, 168, 236, 0.75) !important;
margin:2px 0;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

label {
display:block;
padding:5px 0;
}

label br {
clear:left;
}

input.f-submit {
background:#666;
color:#fff;
font-weight:700;
font-size:96%;
padding:1px 3px;
}

form.f-wrap-1 {
width:100%;
background:#f6f6f6;
border-top:1px solid #d7d7d7;
position:relative;
padding:.5em 0;
}

form fieldset {
width:auto;
margin:0 1em;
padding:.5em .5em;
border:1px solid #E3E8EE;
}

form.f-wrap-1 h3 {
font:bold 155% arial;
color:#c00;
margin:0 0 .6em;
}

form.f-wrap-1 label {
clear:left;
width:100%;
border-top:1px solid #fff;
float:none;
}

form.f-wrap-1 label input,form.f-wrap-1 label textarea,form.f-wrap-1 label select {
width:15em;
float:left;
margin-left:10px;
}

form.f-wrap-1 label b {
float:left;
width:8em;
line-height:1.7;
display:block;
position:relative;
}

form.f-wrap-1 label b .req {
color:#c00;
font-size:150%;
font-weight:400;
position:absolute;
top:-.1em;
line-height:1;
left:-.4em;
width:.3em;
height:.3em;
}

form.f-wrap-1 div.req {
color:#666;
font-size:96%;
font-weight:400;
position:absolute;
top:.4em;
right:.4em;
left:auto;
width:13em;
text-align:right;
}

form.f-wrap-1 div.req b {
color:#c00;
font-size:140%;
}

form.f-wrap-1 label select {
width:15.5em;
}

form.f-wrap-1 label textarea.f-comments {
width:20em;
}

form.f-wrap-1 div.f-submit-wrap {
padding:5px 0 5px 8em;
}

form.f-wrap-1 input.f-submit {
margin:0 0 0 10px;
}

form.f-wrap-1 fieldset.f-checkbox-wrap,form.f-wrap-1 fieldset.f-radio-wrap {
clear:left;
float:left;
width:32em;
border:none;
padding-bottom:.7em;
margin:0;
}

form.f-wrap-1 fieldset.f-checkbox-wrap b,form.f-wrap-1 fieldset.f-radio-wrap b {
float:left;
width:8em;
line-height:1.7;
display:block;
position:relative;
padding-top:.3em;
}

form.f-wrap-1 fieldset.f-checkbox-wrap fieldset,form.f-wrap-1 fieldset.f-radio-wrap fieldset {
float:left;
width:13em;
margin:3px 0 0 10px;
}

form.f-wrap-1 fieldset.f-checkbox-wrap label,form.f-wrap-1 fieldset.f-radio-wrap label {
float:left;
width:13em;
border:none;
margin:0 -3px 0 0;
padding:2px 0;
}

form.f-wrap-1 label input.f-checkbox,form.f-wrap-1 label input.f-radio {
width:auto;
float:none;
margin:0;
padding:0;
}

form.f-wrap-1 label span.errormsg {
position:absolute;
top:0;
right:-10em;
left:auto;
display:block;
width:16em;
}

form.f-wrap-1 label span.errormsg b {
color:#B30800;
font-weight:700;
display:block;
width:auto;
float:none;
line-height:1.3;
margin:0 10px 0 30px;
padding:10px 0;
}

h1,h2,h3,h4,h5,h6 {
font-family:arial,verdana,sans-serif;
color:#000;
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
border-bottom:1px solid #eee;
padding-bottom:.1em;
margin:1.2em 0 .3em;
}

h1 {
font-size:196%;
margin-top:.6em;
}

h2 {
font-size:136%;
}

h3 {
font-size:126%;
}

h4 {
font-size:116%;
}

h5 {
font-size:106%;
}

h6 {
font-size:96%;
}

.highlight {
color:#E17000;
}

.error {
color:#c00;
font-weight:700;
}

.success {
color:#390;
font-weight:700;
}

.caption {
color:#999;
font-size:11px;
}

.date {
font:bold 82% arial;
color:#bbb;
display:block;
letter-spacing:1px;
}

.code {
border:1px solid #36F;
background:#f4f4f4;
padding:.5em;
}

small {
font-size:11px;
}

ul {
list-style-type:none;
margin:.3em 0 1.5em;
}

ul.related {
margin-top:-1em;
}

ol {
margin:.5em .5em 1.5em;
}

ol li {
margin-left:1.4em;
padding-left:0;
background:none;
list-style-type:decimal;
}

li {
line-height:1.4em;
padding-left:25px;
}

li.doc {
background-position:3px -500px;
}

ul.nomarker li {
background:none;
padding-left:0;
}

dl {
margin:0 0 1em;
}

dt {
font-weight:700;
margin-top:1.3em;
}

dl dl {
margin:0 0 1.5em 30px;
}

hr {
background:#f2f2f2;
height:1px;
color:#f2f2f2;
border:none;
clear:both;
margin:1em 0;
}

.clear {
clear:both;
position:relative;
font-size:0;
height:0;
line-height:0;
}

#header {
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
margin:1px 0 5px;
padding:0 0 8px;
}

#header #site-name {
font:250% arial;
font-weight:bold;
text-shadow: 0px 2px 3px #36F;
border:none;
color: #36F;
margin:0 0 0 40px;
padding:3px 0;
}
#header #site-desc{
font:200% arial;
border:none;
color: #000;
margin:0 0 0 40px;
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
padding:3px 0;
}}

#nav,#nav ul {
list-style:none;
margin:0;
padding:0;
}

#nav {
font-weight:700;
height:2.09em;
font:bold 96% arial;
margin:0 105px 0 40px;
}

#nav li {
position:relative;
background:#999;
float:left;
display:block;
border-bottom:3px solid #666;
border-right:3px solid #252525;
width:auto;
margin:0;
padding:0;
}

#nav a,#nav a:link,#nav a:visited,#nav a:hover,#nav a:active {
text-decoration:none;
cursor:pointer;
color:#fff;
display:block;
padding:4px 10px 2px;
}

#nav li ul {
border-left:1px solid #c00;
background:#36F;
width:15.8em;
font-size:90%;
margin-top:3px;
position:absolute;
font-weight:400;
left:-999em;
}

#nav li:hover ul,#nav li.sfhover ul {
left:0;
z-index:99999;
}

#nav li li {
background:none;
float:none;
border:1px solid #999;
border-top:1px solid #fff;
border-right:none;
border-left:none;
padding-left:0;
}

#nav li li a,#nav li li a:link,#nav li li a:visited,#nav li li a:hover {
color:#000;
width:14em;
padding:3px 10px 2px;
}

#nav li li a:hover {
color:#fff;
background:#c00;
}

#nav li.active {
background:#36F;
border-bottom:3px solid #36F;
}

#nav li.active ul {
border:none;
background:#36F;
}

#nav li.active a:hover {
color:#C00;
}

#nav li.active li {
border:none;
border-top:1px solid #c15c5c;
border-bottom:1px solid #36F;
}

#nav li.active li a:link,#nav li.active li a:visited,#nav li.active li a:hover,#nav li.active li a:active {
color:#fff;
}

#nav li.active li a:hover {
background:#36F;
color:#C00;
}

#nav li.active li.active a:link,#nav li.active li.active a:visited,#nav li.active li.active a:hover,#nav li.active li.active a:active {
color:#fff;
font-weight:700;
}

#search {
color:#fff;
font-weight:700;
position:absolute;
top:10px;
right:110px;
left:auto;
width:18em;
}

#search input {
width:8em;
height:1.2em;
margin:0 0 -1px;
}

#search label {
display:inline;
padding:5px 0 0;
}

#search input.f-submit {
width:auto;
font-size:81%;
height:1.95em;
margin:0 0 -.15em;
}

#poweredby {
width:96px;
height:63px;
position:absolute;
top:-102px;
right:0;
}

#wrap {
min-width:770px;
max-width:1200px;
position:relative;
height:auto;
min-height:100%;
margin:0 auto;
}

#content-wrap {
position:relative;
width:100%;
height:auto;
min-height:100%;
/*-moz-box-shadow:0 0 1em #36F;
-webkit-box-shadow:0 0 1em #36F;
box-shadow:0 0 1em #36F;*/
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-color:rgba(82, 168, 236, 0.75) !important;
padding-top:5px;
}

#utility {
position:absolute;
top:0;
left:25px;
width:165px;
padding-bottom:40px;
}

#sidebar {
position:absolute;
top:0;
right:25px;
width:20%;
border-top:5px solid #999;
padding-top:1px;
padding-bottom:40px;
}

#content {
margin:0 50px;
}

#content #breadcrumb {
margin-top:-5px;
font-size:93%;
font-weight:700;
}

#content #breadcrumb a:link,#content #breadcrumb a:visited {
text-decoration:none;
}

#content #breadcrumb a:hover,#content #breadcrumb a:active {
text-decoration:underline;
}

.featurebox {
color:#333;
border-top:1px solid #d7d7d7;
background:#f6f6f6;
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
/*-moz-box-shadow:0 0 1em #36F;
-webkit-box-shadow:0 0 1em #36F;
box-shadow:0 0 1em #36F;*/
margin:1em 1em 1.5em;
padding:15px 20px 20px;
}

.featurebox p,.featurebox h1,.featurebox h2,.featurebox h3,.featurebox h4,.featurebox h5,.featurebox h6 {
border-bottom:1px solid #36F;
color:#36F;
margin:0 0 .3em;
}

.featurebox p {
border:none;
color:#444;
margin:0 0 1em;
}

.thumbnail {
position:relative;
z-index:9999;
border:1px solid #eee;
float:right;
width:100px;
background:#fff;
margin:0 0 0 10px;
padding:5px;
}

.thumbnail img {
border:1px solid #000;
}

.pagination {
background:#f2f2f2;
color:#666;
border:1px solid #ddd;
margin:0 0 1.5em;
padding:4px 2px 4px 7px;
}

.pagination p {
position:relative;
text-align:right;
}

.pagination p a:link,.pagination p a:visited,.pagination p a:hover,.pagination p a:active {
text-decoration:none;
background:#fff;
border:1px solid #ccc;
padding:2px 5px;
}

.pagination p a:hover {
background:#c00;
color:#fff;
}

.pagination p span {
text-decoration:none;
background:#fff;
border:1px solid #ccc;
color:#ccc;
padding:2px 5px;
}

.pagination h4 {
margin-top:-1.45em;
border:none;
padding:0;
}

#resultslist-wrap {
font-size:92%;
margin:0 0 1.5em;
}

#resultslist-wrap dt {
font:bold 85% arial;
padding:3px 0;
}

#resultslist-wrap li {
font:bold 145% arial;
margin:0 0 0 1.2em;
padding:0 0 1em;
}

#resultslist-wrap li dd {
font:normal 73% arial;
}

#resultslist-wrap dd {
line-height:1.3;
}

#resultslist-wrap dd.filetype,#resultslist-wrap dd.date {
color:#999;
display:inline;
padding-right:.5em;
}

.table1 {
border:2px solid #36f;
border-collapse:collapse;
width:100%;
}

.table1 td {
background:#fff;
border:1px solid #ddd;
padding:3px;
}

.table1 th {
text-align:left;
border:1px solid #fff;
}

.table1 thead th {
color:#fff;
font-size:145%;
background:#900;
padding:10px 6px;
}

.table1 tbody th {
color:#fff;
font-size:115%;
background:#88b8db;
padding:6px;
}

.table1 tbody th.sub {
font-size:100%;
color:#000;
padding:6px;
}

.calendar {
width:200px;
font-size:92%;
}

.calendar td {
text-align:center;
border:1px solid #ddd;
}

.calendar th {
text-align:center;
}

.calendar thead th {
padding:3px 2px;
}

a.morelink:link,a.morelink:visited,a.morelink:hover,a.morelink:active {
padding-left:21px;
}

a.morelink:hover {
}

.morelink span {
position:absolute;
left:-9999px;
width:900px;
}

ol.code {
font-family:monospace;
position:relative;
}

ol.code li {
color:#666;
margin-bottom:1px;
}

ol.code code {
color:#000;
display:block;
}

ol.code .cmt {
color:#4077d2;
}

li.tab0 code {
padding-left:4em;
}

li.tab1 code {
padding-left:8em;
}

li.tab2 code {
padding-left:12em;
}

li.tab3 code {
padding-left:16em;
}

li.tab4 code {
padding-left:20em;
}

li.tab5 code {
padding-left:24em;
}

p.note {
border:1px solid #ddd;
background:#f0f0f0;
margin:1em;
padding:1em;
}

#type-b #content {
margin:0 23px 0 235px;
}

#type-c #content {
margin:0 25% 0 235px;
}

#type-d #content {
margin:0 25% 0 50px;
}

#type-e #utility {
position:absolute;
top:0;
left:auto;
right:25px;
width:165px;
border-top:5px solid #999;
}

#type-e #content {
margin:0 243px 0 50px;
}

#type-f #content {
margin:0 235px 0 25%;
}

#type-f #utility {
left:auto;
right:25px;
}

#type-f #sidebar {
right:auto;
left:25px;
}

#nav-secondary,#nav-secondary ul {
position:static;
}

#nav-secondary,#nav-secondary li {
list-style:none;
background:#fff;
margin:0;
padding:0;
}

#nav-secondary {
padding-top:0;
border-top:1px solid #ccc;
margin-top:1px;
}

#nav-secondary a {
line-height:1.8;
background:#fff no-repeat 10px -695px;
font:bold 86% arial;
display:block;
padding:5px 0 5px 23px;
}

#nav-secondary a,#nav-secondary a:link,#nav-secondary a:visited,#nav-secondary a:hover,#nav-secondary a:active {
text-decoration:none;
cursor:pointer;
text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

#nav-secondary a:hover {
color:#fff;
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-color:rgba(82, 168, 236, 0.75) !important;
text-shadow:0 -1px 1px rgba(0,0,0,0.15);
}

#nav-secondary li {
border-top:1px solid #fff;
border-bottom:1px solid #ccc;
}

#nav-secondary ul {
margin:0 0 1em 23px;
padding:0;
}

#nav-secondary li.active li a,#nav-secondary li.active li a:link,#nav-secondary li.active li a:visited {
line-height:1.5;
font-weight:400;
color:#000;
width:130px;
display:block;
padding:0 0 0 12px;
}

#nav-secondary li.active li {
border:none;
margin:0;
}

#nav-secondary li.active li.active li a,#nav-secondary li.active li.active li a:link,#nav-secondary li.active li.active li a:visited {
width:117px;
}

#nav-secondary li.active li.active li.active li a,#nav-secondary li.active li.active li.active li a:link,#nav-secondary li.active li.active li.active li a:visited {
width:104px;
}

#toplinks a {
font-weight:700;
color:#36F;
padding:10px 10px 30px;
}

#toplinks {
float:right;
}

#footer {
clear:both;
position:relative;
z-index:10;
height:5em;
/*-moz-box-shadow:0 0 1em #36F;
-webkit-box-shadow:0 0 1em #36F;
box-shadow:0 0 1em #36F;*/
-moz-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.5);
border-top:1px solid #E3E8EE;
font-size:86%;
color:#999;
padding:10px 10px 30px;
}

html,body,html,body,#wrap {
height:100%;
}

a:visited,.subdued,#footer a:link {
color:#999;
}

form,p,ul,ol {
margin:0 0 1.5em;
}

fieldset,img {
border:none;
}

#nav a:hover,#nav-secondary a:link,#nav-secondary a:visited {
color:#000;
}

#nav li li.last,#nav li.active li.last {
border-bottom:none;
}

#search form,.pagination *,#resultslist-wrap dt,#resultslist-wrap dl,#resultslist-wrap li dl,#footer p {
margin:0;
}

.featurebox a,#nav-secondary li.active li.active a:link,#nav-secondary li.active li.active a:visited,#nav-secondary li.active li.active a:hover,#nav-secondary li.active li.active a:active,#nav-secondary li.active li.active li.active a:link,#nav-secondary li.active li.active li.active a:visited,#nav-secondary li.active li.active li.active a:hover,#nav-secondary li.active li.active li.active a:active,#nav-secondary li.active li.active li.active li.active a:link,#nav-secondary li.active li.active li.active li.active a:visited,#nav-secondary li.active li.active li.active li.active a:hover,#nav-secondary li.active li.active li.active li.active a:active {
font-weight:700;
}

.calendar tbody th,.calendar tbody th.sub {
padding:2px;
}

#type-b #content-wrap,#type-c #content-wrap {
}

#type-e #content-wrap,#type-f #content-wrap {
}

#nav-secondary li.active a:link,#nav-secondary li.active a:visited,#nav-secondary li.active a:hover,#nav-secondary li.active a:active,#nav-secondary li.active li a:hover,#nav-secondary li.active li a:active {
color:#c00;
}

#nav-secondary ul ul,#nav-secondary ul ul ul {
margin:0 0 1em 13px;
padding:0;
}

#nav-secondary li.active li.active li a:link,#nav-secondary li.active li.active li a:visited,#nav-secondary li.active li.active li a:hover,#nav-secondary li.active li.active li a:active,#nav-secondary li.active li.active li.active li a:link,#nav-secondary li.active li.active li.active li a:visited,#nav-secondary li.active li.active li.active li a:hover,#nav-secondary li.active li.active li.active li a:active {
font-weight:400;
}
